* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}
html,
body {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input,form, button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  appearance: none;
  font-family: inherit;  
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;         
  box-shadow: none;         
}
button {
  cursor: pointer; 
}
button:focus::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input{
    cursor: text; 
}



/* Desktop */


/* navigation */
.nav{
    top:0;
    height: 54px;
    width: 100%;
    padding: 10px 0px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    box-shadow: 0 1px 0 #e8e8e8dd;
}
.nav_div{
    width: 1200px;
    height: 34px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_div_title{
    width: 150px;
    height:34px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #448899;
    white-space: nowrap;
}
.nav_div_container{
    width: 175px;
    height: 34px;
    display: flex;
    flex-direction: row;
}
.nav_div_container_button_plan{
    width: 84px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.nav_div_container_button_plan::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #448899;
}
.nav_div_container_button_plan:hover:before,
.nav_div_container_button_plan:focus:before,
.nav_div_container_button_plan:active:before {
    left: 0;
    right: 0;
}
.nav_div_container_button_text_plan{
    width: 64px;
    height: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #666666;
}
.nav_div_container_button_plan:active .nav_div_container_button_text_plan,
.nav_div_container_button_plan:focus .nav_div_container_button_text_plan,
.nav_div_container_button_text_plan:hover{
    color: #000000;
}
.nav_div_container_button_login{
    width: 91px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.nav_div_container_button_login::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #448899;
}

.nav_div_container_button_login:hover:before,
.nav_div_container_button_login:focus:before,
.nav_div_container_button_login:active:before {
    left: 0;
    right: 0;
}
.nav_div_container_button_text_login{
    width: 71px;
    height: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #666666;
}
.nav_div_container_button_login:active .nav_div_container_button_text_login,
.nav_div_container_button_login:focus .nav_div_container_button_text_login,
.nav_div_container_button_text_login:hover {
    color: #000000;
}
/* dialog */
.dialog{
    width: 340px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    top: 80px;
    position: fixed;
    z-index: 1100;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}
.dialog.active{
    opacity: 1;
    pointer-events: all;
}

.dialog_decorator{
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    top: 0;
}
.dialog_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    margin: 25px 16px 15px;
    gap: 15px;
    position: relative;
}
.dialog_close_btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.dialog_close_btn_img {
    width:16px;
    height: 16px;
    object-fit: cover;
}
.dialog_main_title{
    width: 310px;
    height: 27px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #666666;
}
.dialog_main_containeer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    gap: 10px;
}
.dialog_main_containeer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.dialog_main_containeer_form_email{
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 15px;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 13.3px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}
.dialog_main_containeer_form_email::placeholder{
    color: #757575;
}
.dialog_main_containeer_form_password{
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 15px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 13.3px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}
.dialog_main_containeer_form_password::placeholder{
    color: #757575;
}
.dialog_main_containeer_form_submit{
    width: 310px;
    height: 46px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #448899;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog_main_containeer_form_submit_text{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 19px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}
.dialog_main_containeer_signup{
    width: 310px;
    height: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #666666;
}
.dialog_main_containeer_signup a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    cursor: pointer;
}
.dialog_main_containeer_form_name{
    width: 310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 15px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 13.3px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}
.dialog_main_containeer_form_name::placeholder {
    color: #757575;
}
.dialog_main_containeer_login{
    width: 310px;
    height: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #666666;
}
.dialog_main_containeer_login a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    cursor: pointer;
}
.dialog_overlay{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    opacity: 0;
}
.dialog_overlay.active{
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
}
/* header */
header{
    margin-top: 54px;
    width: 100%;
    min-width: 330px;
    position: relative;
    display: flex;
    justify-content: center;
}
.hero{
    width: 100%;
    min-width: 330px;
    height: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.hero_backgraund{
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}
.hero_backgraund img{
    width: 1600px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hero_content{
    top:75px;
    padding: 10px;
    gap: 10px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.hero_content_div{
    width: 1180px;
    height: 149px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}
.hero_content_div_slogan{
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: column;
    gap:15px
}
.hero_content_div_slogan_title{
    width: 100%;
    height: 41px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    text-shadow:0 0 30px #AABBCC ;
}
.hero_content_div_slogan_subtitle{
    width: 100%;
    height: 22px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}
.hero_content_div_search{
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: column;
    gap:4px
}
.hero_content_div_search_searchbar{
    width: 460px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #AABBCC;
}
.hero_content_div_search_searchbar_selector{
    width: 100px;
    height: 46px;
    display: flex;
    flex-direction: column;
    gap:4px;
    padding: 16px 8px;
    background-color: #EEEEEE;
}
.hero_content_div_search_searchbar_selector_text{
    width: 84px;
    height: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}
/* category selector */
.categoryselector{
    position: relative;
    z-index: 999;
}
.categoryselector_category {
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #AABBCC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    pointer-events: none;
    transition: all 0.2s ease;
}
.categoryselector_category.active {
    opacity: 1;
    transform: scaleY(1);
    z-index: 100;
    pointer-events: all;
}

.categoryselector_category_item {
    height: 40px;
    border-radius: 8px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoryselector_category_item:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.categoryselector_category_item_text {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.categoryselector_overlay{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
.categoryselector_overlay.active{
    right: 0;
    z-index: 8;
    pointer-events: all;
}
.hero_content_div_search_searchbar_input{
    width: 300px;
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #FFFFFF;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}
.hero_content_div_search_searchbar_form{
    padding: 0;
    margin: 0;
    gap: 0;
    display: flex;
    flex-direction: row;
}
.hero_content_div_search_searchbar_input:focus{
    outline: 2px solid #AABBCC;
}
.hero_content_div_search_searchbar_input::placeholder{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #757575;
}
.hero_content_div_search_searchbar_btn{
    width: 60px;
    height: 46px;
    padding: 8px 15px;
    background-color: #448899;
} 
.hero_content_div_search_searchbar_btn_icon{
    width: 30px;
    height: 30px;
}
/* main */
main{
    width: 100%;
    min-width: 330px;
    height: auto;
    padding: 40px 0;
    margin-top: 320px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}
/* list bar */
.listbar{
    width: 1200px;
    height: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    overflow: hidden;
    
}
.listbar_left{
    width: 47px;
    height: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    
}
.listbar_left_container_btm{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listbar_left_container_icon{
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
.listbar_left_container_icon:hover{
    opacity: 1;
}
.listbar_container{
    width: 1106px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.listbar_container_listcontainer{
    width: 1086px;
    height: 24px;
    display: flex;
    scroll-behavior: smooth;
    overflow-x:auto;
    overflow-y:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}
.listbar_container_listcontainer::-webkit-scrollbar {
    display: none;
}
.listbar_container_listcontainer_listitem{
    height: 24px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer; 
    scroll-snap-align: start;
    flex-shrink: 0;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.listbar_container_listcontainer_listitem::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #666666;
}

.listbar_container_listcontainer_listitem:hover:before,
.listbar_container_listcontainer_listitem:focus:before,
.listbar_container_listcontainer_listitem:active:before {
    left: 0;
    right: 0;
}

.listbar_container_listcontainer_listitem_text{
    height: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    white-space: nowrap;
}
.listbar_container_listcontainer_listitem:active .listbar_container_listcontainer_listitem_text,
.listbar_container_listcontainer_listitem:focus .listbar_container_listcontainer_listitem_text,
.listbar_container_listcontainer_listitem_text:hover{
    color: #000000;
}
.listbar_right{
    width: 47px;
    height: 50px;
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 9px;
}
.listbar_right_container_btm{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listbar_right_container_icon{
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
.listbar_right_container_icon:hover {
    opacity: 1;
}

/* attraction info */
.attractionsinfo{
    width: 1200px;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attractionsinfo_attractionsgroup{
    width: 1170px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap:30px;
    justify-content: start;
}
.attraction{
    width: 270px;
    height: 242px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration:none;
}
.attraction_container{
    width: 270px;
    height: 197px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.attraction_container_img{
    width: 270px;
    height: 197px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 1;
}
.attraction_container_name{
    width: 330px;
    height: 40px;
    padding: 10px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    background-color:rgb(0, 0, 0,0.6);
    position: absolute;
    z-index: 2;
    bottom: 0;
}
.attraction_container_name_info{
    width: 310px;
    height: 20px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.attraction_container_name_info_text{
    height: 20px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}
.attraction_details{
    width: 270px;
    height: 45px;
    padding: 10px;
    gap: 4px;
    background-color: #FFFFFF;
}
.attraction_details_info{
    width: 250px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.attraction_container_details_info_MRT{
    height: 25px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #757575;
}
.attraction_container_details_info_category{
    height: 25px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #757575;;
}
/* footer */
footer{
    background-color: #757575;
    width: 100%;
    min-width: 330px;
    height: 104px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}
.footer_info{
    height: 24px;
    padding: 5px 0;
}
.footer_info_text{
    height: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

/* 景點分頁 */
.attractionsintroduce{
    width: 1200px;
    height: 400px;
    margin-top:94px;
    margin-bottom: 40px;
    padding: 0 15px;
    gap:30px;
    display: flex;
}
.attractionsintroduce_pic{
    width: 540px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #666666;
    position: relative;
}
.attractionsintroduce_pic_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.attractionsintroduce_pic_left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}
.attractionsintroduce_pic_left img{
    opacity: 50%;
    width: 36px;
    height: 36px;
}
.attractionsintroduce_pic_left:hover{
background: rgba(255, 255, 255, 0.9);
}
.attractionsintroduce_pic_left img:hover {
    opacity: 1;
}
.attractionsintroduce_pic_right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
}
.attractionsintroduce_pic_right img {
    opacity: 50%;
    width: 36px;
    height: 36px;
}

.attractionsintroduce_pic_right:hover {
    background: rgba(255, 255, 255, 0.9);
}

.attractionsintroduce_pic_right img:hover {
    opacity: 1;
}
.attractionsintroduce_pic_indicator_container {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    width: 540px;
    height: 5px;
    opacity: 0.75;
    top: 395px;
}

.attractionsintroduce_pic_indicator_item {
    height: 5px;
    background-color: #FFFFFF;
    opacity: 0.75;
    cursor: pointer;
}

.attractionsintroduce_pic_indicator_item.active {
    background-color: #000;
    opacity: 1;
}
.attractionsintroduce_profile{
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}
.attractionsintroduce_profile_name{
    width: 600px;
    height: 33px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
    margin-bottom: 15px;
}
.attractionsintroduce_profile_tag{
    width: 600px;
    height: 22px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}
.attractionsintroduce_profile_form{
    width: 600px;
    height: 302px;
    border-radius: 5px;
    background-color: #E8E8E8;
    overflow: hidden;
    padding: 15px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: start;
}
.attractionsintroduce_profile_form_title{
    width: 560px;
    height: 22px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
}
.attractionsintroduce_profile_form_subtitle{
    width: 560px;
    height: 24px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
}
.attractionsintroduce_profile_date{
    display: flex;
    gap:5px;
    width: 560px;
    height: 35px;
    align-items: center;
}
.attractionsintroduce_profile_date_lable{
    width: 81px;
    height: 17px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
}
.attractionsintroduce_profile_date_imput{
    width: 193px;
    height: 35px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.attractionsintroduce_profile_time{
    width: 560px;
    height: 22px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.attractionsintroduce_profile_time_lable{
    width: 81px;
    height: 22px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
}
.attractionsintroduce_profile_time_option{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 16px;
    font-size: 16px;
}
.attractionsintroduce_profile_time__input{
    position: absolute;
    opacity: 0;
}
.attractionsintroduce_profile_time_checkbox{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    background-color: #FFFFFF;
    margin-right: 4px;
}

.attractionsintroduce_profile_time__input:checked+.attractionsintroduce_profile_time_checkbox::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #448899;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attractionsintroduce_profile_form_price{
    width: 560px;
    height: 22px;
    display: flex;
    gap: 5px;
}
.attractionsintroduce_profile_form_price_title{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
}
.attractionsintroduce_profile_form_price_value{
    height: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
}
.attractionsintroduce_profile_form_btn{
    width: 154px;
    height: 36px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #448899;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.attractionsintroduce_profile_form_btn span{
    width: 114px;
    height: 16px;    
    color: #FFFFFF;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 19px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #E8E8E8;
    margin: 20px 0;
    flex-shrink: 0;
}

.attractiondescription {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 10px 80px 10px;
}

.attractiondescription_text {
    width: 1180px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #666666;
}

.attractiondescription_address_label {
    width: 1180px;
    height: 32px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
    margin-top: 20px;
}

.attractiondescription_address {
    width: 1180px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #666666;
}

.attractiondescription_transport_label {
    width: 1180px;
    height: 32px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #666666;
    margin-top: 20px;
}

.attractiondescription_transport {
    width: 1180px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #666666;
}

/* width > 1600px */
@media (min-width: 1600px) {
.hero_backgraund img {
    width: 100%;
    height: auto;
}
}
/* Mobile */
@media (max-width: 1200px){
    .nav_div {
        width: 100%;
    }

    .hero_content_div {
        width: 100%;
    }

    .hero_content_div_search_searchbar {
        width: 100%;
    }
    .listbar {
        width: 100%;

    }

    .listbar_container {
        width: 100%;
    }

    .listbar_container_listcontainer {
        width: 100%;
    }

    .attractionsinfo {
        width: 100%;
    }

    .attractionsinfo_attractionsgroup {
        width: 100%;
        grid-template-columns: repeat(3, 270px);
        justify-content: center;
    }

   .attractionsintroduce {
       width: 100%;
       height: auto;
       flex-direction: column;
       align-items: center;
   }

    .attractiondescription {
        width: 100%;
        padding: 10px 20px 80px 20px;
    }

    .attractiondescription_text {
        width: 100%;
    }

    .attractiondescription_address_label {
        width: 100%;
    }

    .attractiondescription_address {
        width: 100%;
    }

    .attractiondescription_transport_label {
        width: 100%;
    }

    .attractiondescription_transport {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .attractionsinfo_attractionsgroup {
        width: 100%;
        grid-template-columns: repeat(2, 270px);
    }

    .hero_content_div_search_searchbar_input {
        width: 100%;
    }

}
@media (max-width: 600px) {
    .attractionsinfo_attractionsgroup {
        width: 100%;
        grid-template-columns: 270px;
    }
    .hero_content_div_search_searchbar_input {
        width: 100%;
    }

    .attractionsintroduce {
        padding: 0;
    }

    .attractionsintroduce_pic {
        width: 100%;
    }

    .attractionsintroduce_pic_indicator_container {
        width: 100%;
    }

    .attractionsintroduce_profile_name{
        width: 100%;
    }
    .attractionsintroduce_profile_tag{
        width: 100%;
    }
    .attractionsintroduce_profile_form{
        width: 100%;
    }
    .attractionsintroduce_profile_form_subtitle{
        width: 100%;
    }
    .attractionsintroduce_profile_date{
        width: 100%;
    }
    .attractionsintroduce_profile {
        width: 100%;
        padding: 0 10px;
    }

    .attractionsintroduce_profile_time {
        width: 100%;
    }

    .attractionsintroduce_profile_form_price {
        width: 100%;
    }
}